<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310714156899-k2fshqfpu08mjum9v0fvh5k7cr1qlkf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310714156899-k2fshqfpu08mjum9v0fvh5k7cr1qlkf8</string>
	<key>API_KEY</key>
	<string>AIzaSyAXCPzwYTaHWYKr0tSor16pXoP9_jvqWdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>310714156899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wanders.markdown</string>
	<key>PROJECT_ID</key>
	<string>markdown-note-26a66</string>
	<key>STORAGE_BUCKET</key>
	<string>markdown-note-26a66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310714156899:ios:0edd0d0cfd1f74a578f556</string>
</dict>
</plist>